body {
    background: #ffffff;
    color: rgb(20, 66, 10);
    font-family: "Trebuchet MS", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.topbar {
    background: #D9E9CF;
    padding: 15px 30px;
    display: flex;
    width: 100%;
}

.topbar h1 {
    margin: 0;
    font-size: 1.8em;
    padding-top: 15px;
    text-align: left;
}

.hero {
    
    padding: 50px 40px;
    background: linear-gradient(to right, #B6CEB4, #96A78D);
    border-bottom: 2px solid #adc092;
    background-image: url(hacking1.jpg);
    background-size: cover;
    background-position: center;
}

.hero h2 {
    font-size: 3.2em;
    margin-bottom: 10px;
    text-align: left;
    color: white;
}

.hero p {
    font-size: 1.7em;
    opacity: 0.9;
    text-align: left;
    color: white;
}

main {
    padding: 30px 40px;
}

.section {
    display: flex;
    margin-bottom: 35px;
    align-items: flex-start;
    animation: fadeInUp 0.8s ease;
}
.section p {
    font-size: 20px;
    text-align: left;
}
.section h3 {
    text-align: left;
}

.accent {
    height: 100%;
    background: #d10000;
    margin-right: 20px;
    border-radius: 5px;
    transition: height 0.4s ease, background 0.4s ease;
}

.content {
    background: #D9E9CF;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    border: 1px solid rgba(255, 253, 253, 0.4); 
    text-align: left;
}

.section:hover .content {
    transform: translateX(10px);
    box-shadow: 0 0 30px rgba(21, 74, 11, 0.784);
}

.section:hover .accent {
    background: #ff1a1a;
    height: 110%;
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}

h3 {
    color: rgb(40, 67, 12);
    margin: auto;
    font-size: 30px;
}

.links-container {
    text-align: right;  
    margin: 20px;      
}

a{
    color: rgb(40, 67, 12);
    text-decoration: none;
    font-size: 20px;
    text-align: right;

}

.links-container {
    text-align: right;
    margin: 20px;
    padding-left: 500px;
    justify-content: space-between;
}

.links-container a {
    position: relative;           
    display: inline-block;        
    margin-right: 20px;          
    color: #204110;
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 5px;
    text-align: right; 
    font-size: 20px;  
    justify-content: end;
}

.links-container a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;                   
    height: 2px;                 
    background-color: #204110;
    transition: width 0.3s ease; 
    text-align: right;
}

.links-container a:hover::after {
    width: 100%;
    text-align: right;
}

.links-container a:hover {
    color: #030000;
    text-align: right;
}
.content ul {
    font-size: 20px;
}
.footer {
    background-color: #371212;
    padding: 10px 20px;
    text-align: center;
    margin-top: 50px;
}

.footer h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
}

.footer h4 {
    font-size: 30px;
    margin-top: 20px;
    color: white;
}

.footer p {
    color: #ccc;
    margin: 8px 0;
    font-size: 20px;
}

.copy {    
    font-size: 0.9rem;
    color: #777;
    margin-top: 15px;
}
img {
    border-radius: 15px;
    width: 5%;
    height: 5%;
    align-items: center;
    margin-right: 7px;
    margin-top: 5px;
 }
 ul {
    font-size: 10px;
 }
 footer{
            background:#B6CEB4;
            padding-top:50px;
            margin-top: 20px;
            width: 100%;
         }
         .container{
            width: 1140px ;
            margin:auto;
            display:flex;
            justify-content: center;
         }
 
         .footer{
            width:33.3%;
 
         }
         h3{
            font-size:28px;
            margin-bottom:15px;
            text-align: center;
         }
 
         .footer-contect p{
            width: 190px;
            margin:auto;
            padding:7px;
         }
 
         .footer-contect ul{
              text-align: center;
         }
         .list{
            padding:0;
         }
 
         .list li{
            width:auto;
            text-align: center;
            list-style-type:none ;
            padding: 7px;
            position:relative;
         }
 
         .list li::before{
            content: '';
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top:100%;
            width:0;
            height:2px;
            background:#f18930 ;
            transition-duration: .5s;
         }
 
          .list li:hover::before{
        width: 70px;
          }
 
           .social-icons{
        text-align: center;
        padding: 0;
    }
    .social-icons li{
        display: inline-block;
        text-align: center;
        padding: 5px;
    }
 
     .social-icons i{
        color: white;
        font-size: 25px;
    }
    a{
        text-decoration: none;
        font-size: 15px;
    }
    a:hover{
        color: #fffdfb;
    }
    .social-icons i:hover{
        color: #f18930;
    }
    .bottom-bar{
        background: #65765c;
        text-align: center;
        padding: 15px 0;
        margin-top: 80px;
    }
    .bottom-bar p{
        color: #fffbfb;
        margin: 0;
        font-size: 16px;
        padding: 7px;
    }