body {
    background-color: #ffffff;
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: rgb(20, 66, 10);
    margin: 0;
    padding: 0;
}

.topbar {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background-color: #D9E9CF;
}

.topbar img {
    width: 60px;
    height: auto;
    margin-right: 15px;
}

.topbar h1 {
    font-size: 32px;
    margin-right: auto;
}

.links-container a {
    margin: 0 15px;
    color: rgb(20, 66, 10);
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.links-container a:hover {
    color: rgb(20, 66, 10);
}

.malware {
    display: flex;
    align-items: center;
    background-color: #D9E9CF;
    border-radius: 15px;
    margin: 40px auto;
    width: 90%;
    max-width: 1400px;
    padding: 30px;
    box-shadow: 0 0 25px #000;
    justify-content: space-between;
}

.malware img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-right: 30px;
}

.container h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.container p {
    font-size: 22px;
    line-height: 1.6;
    max-width: 900px;
    margin-left: 10px;
}

.footer {
    background-color: #371212;
    padding: 10px 20px;
    text-align: center;
    margin-top: 50px;
}

.footer h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
}

.footer h4 {
    font-size: 30px;
    margin-top: 20px;
    color: white;
}

.footer p {
    color: #ccc;
    margin: 8px 0;
    font-size: 20px;
}

.copy {    
    font-size: 0.9rem;
    color: #777;
    margin-top: 15px;
}
img {
    border-radius: 15px;
    width: 5%;
 }
 ul {
    font-size: 10px;
 }
 
 footer{
            background:#B6CEB4;
            padding-top:50px;
            margin-top: 20px;
            width: 100%;
         }
         .container{
            width: 1140px ;
            margin:auto;
            display:flex;
            justify-content: center;
         }
 
         .footer{
            width:33.3%;
 
         }
         h3{
            font-size:28px;
            margin-bottom:15px;
            text-align: center;
         }
 
         .footer-contect p{
            width: 190px;
            margin:auto;
            padding:7px;
         }
 
         .footer-contect ul{
              text-align: center;
         }
         .list{
            padding:0;
         }
 
         .list li{
            width:auto;
            text-align: center;
            list-style-type:none ;
            padding: 7px;
            position:relative;
         }
 
         .list li::before{
            content: '';
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top:100%;
            width:0;
            height:2px;
            background:#f18930 ;
            transition-duration: .5s;
         }
 
          .list li:hover::before{
        width: 70px;
          }
 
           .social-icons{
        text-align: center;
        padding: 0;
    }
    .social-icons li{
        display: inline-block;
        text-align: center;
        padding: 5px;
    }
 
     .social-icons i{
        color: white;
        font-size: 25px;
    }
    a{
        text-decoration: none;
        font-size: 15px;
    }
    a:hover{
        color: #fffdfb;
    }
    .social-icons i:hover{
        color: #f18930;
    }
    .bottom-bar{
        background: #65765c;
        text-align: center;
        padding: 15px 0;
        margin-top: 80px;
    }
    .bottom-bar p{
        color: #fffbfb;
        margin: 0;
        font-size: 16px;
        padding: 7px;
    }