* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Arial, sans-serif;
 }
 
 body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(233, 255, 232);
    background-size: cover;
   
 }
 
 header {  
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items:center;
        z-index: 99;
        margin-bottom: 15px;
 }
 
 .logo {
    font-size: 2em;
    color:#fff;
    user-select: none;
 }
 
 .navigation a {
    position: relative;
    font-size: 1.1em;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
 }
 
 .navigation a::after {
    content: '';
    position: absolute;
    left:0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
 }
 
 .navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
 }
 
 
 .navigation .btnLogin-popup{
    width: 130px;
    height: 40px;
    background:transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
 }
 
 .navigition .btnLogin-popup:hover {
    background: #fff;
    color: #51b3dd;
     
 }
 
 .wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background:transparent;
    border:2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 45px;
 }
 
 .wrapper .form-box {
    width: 100%;
    padding: 40px;
 }
 
 
 
 .wrapper .icon-close {
   position: absolute;
   top:0;
   right:0;
   width: 45px;
   height: 45px;
   background: #6b333391;
   font-size:2em;
   color:#fff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom-left-radius: 20px;
   cursor: pointer;
   z-index: 1;
 }
 
.form-box h2 {
    font-size: 2em;
    color:#000000;
    text-align: center;
}
 
.input-box {
    position: relative;
    width:100%;
    height:50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
 
.input-box label {
    position: absolute;
    top:50%;
    left: 5px;
    color:#000000;
    font-size: 1em;
    transform: translateY(-50%);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
 
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}
 
.input-box input {
    width:100%;
    height:100%;
    background: transparent;
    border:none;
    outline: none;
    font-size: 1em;
    color:#000000;
    font-weight: 600;
    padding:0 35px 0 5px;
}
 
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color:#000000;
    line-height: 57px;
}
 
.remember-forgot {
    margin-left: 5px;
    font-size: .9em;
    color:#000000;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
 
.remember-forogt label input {
   accent-color: #000000;
   margin-right: 3px;
}
 
.remember-forgot a {
    color:#000000;
    text-decoration: none;
}
 
.remember-forgot a:hover {
    text-decoration: underline;
}
 
 
.continer .btnsign-popup {
   width: 100%;
   height: 45px;
   background: #000000;
   border:none;
   outline: none;
   border-radius: 6px;
   cursor: pointer;
   font-size: 1em;
   color:#fff;
   font-weight: 500;
}
 .topbar {
    background: #96A78D;
    padding: 15px 30px;
    box-shadow: 0 0 20px grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
a {
    text-decoration: none;
    color: rgb(40, 67, 12);
    padding: 15px;
    font-size: 20px;
}
 
.topbar h1 {
    margin: 0;
    font-size: 1.8em;
    color: rgb(20, 66, 10);
}
 img {
    border-radius: 15px;
    width: 5%;
 }